# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
# %pip install scrapy

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
#import scrapy

In [3]:
import os
from dotenv import load_dotenv

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
#your code

In [6]:
load_dotenv()
token = os.getenv("github")

In [7]:
load_dotenv()
token = os.getenv("github")
html = requests.get(url)
soup = BeautifulSoup(html.content,"html.parser")

In [8]:
# soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [9]:
tags = soup.find_all('p', {'class': 'f4 text-normal mb-1'})

In [10]:
#your code
tags[0].getText().split('\n')[2].strip()

'wenzhixin'

In [11]:
nombres = []
for i in tags:
    nombres.append(i.getText().split('\n')[2].strip())

In [12]:
nombres

['wenzhixin',
 'angus-c',
 'yujincheng08',
 'bokuweb',
 'oerdnj',
 'hanxiao',
 'JeffreySu',
 'tanersener',
 'dodyg',
 'rusty1s',
 'mdlayher',
 'jimmywarting',
 'dapplion',
 'samuelcolvin',
 'koaning',
 'pepibumur',
 'jesserockz',
 'PuruVJ',
 'dtolnay',
 'drwpow',
 'JohnSundell',
 'mrdoob',
 'rmosolgo',
 'keegancsmith',
 'mikecao']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [13]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'

In [14]:
#your code

In [15]:

html2 = requests.get(url2)
soup2 = BeautifulSoup(html2.content,"html.parser")

In [16]:
tags2 = soup2.find_all('h1', {'class': 'h3 lh-condensed'})

In [17]:
print(tags2[0].getText().split('\n')[-4].strip(), tags2[0].getText().split('\n')[-2].strip())

Python-World / python-mini-projects

In [18]:
repos = []
for i in tags2:
    repos.append(i.getText().split('\n')[-4].strip()+ i.getText().split('\n')[-2].strip())

In [19]:
repos

['Python-World /python-mini-projects',
 'huggingface /datasets',
 'espnet /espnet',
 'bregman-arie /devops-exercises',
 'pytest-dev /pytest',
 'tiangolo /fastapi',
 'bhky /opennsfw2',
 'TachibanaYoshino /AnimeGANv2',
 'synacktiv /CVE-2021-40539',
 'huggingface /transformers',
 'netbox-community /netbox',
 'public-apis /public-apis',
 'WZMIAOMIAO /deep-learning-for-image-processing',
 'ansible /ansible',
 'swisskyrepo /PayloadsAllTheThings',
 'pytorch /fairseq',
 'demisto /content',
 'PyGithub /PyGithub',
 'danielgatis /rembg',
 'tensorflow /models',
 'mlflow /mlflow',
 'open-mmlab /mmdetection',
 'blakeblackshear /frigate',
 'cupy /cupy',
 'jackfrued /Python-100-Days']

#### Display all the image links from Walt Disney wikipedia page

In [100]:
# This is the url you will scrape in this exercise
disney = "https://es.wikipedia.org/wiki/Walt_Disney"
html = requests.get(disney)
soup = BeautifulSoup(html.content,"html.parser")

In [101]:
list = []
tags = soup.find_all("img")
for imagen in tags:
    por = imagen.get("src")
    list.append(str(por))
print(list)

['//upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Cscr-featured.svg/14px-Cscr-featured.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Disney_wordmark.svg/44px-Disney_wordmark.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Blue_pencil.svg/10px-Blue_pencil.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Blue_pencil.svg/10px-Blue_pencil.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Blue_pencil.svg/10px-Blue_pencil.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Blue_pencil.svg/10px-Blue_pencil.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/7/73/Blue_pencil.svg/10px-Blue_pencil.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/175px-Walt_Disney_1942_signature.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Elias_%26_Flora_Disney_1913.jpg/220px-Elias_%26_Flora_Disney_1913.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Walt_Disney_and_Dr._Wernher_von_Braun_-_GPN-2000-000060.jpg/170px-Walt_Disney_and_Dr._Wernher_von_Braun_-_GPN-2000-000060.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Walt_Disney_and_his_wife_departing_from_Kastrup_Airport_CPH%2C_Copenhagen_by_SAS_to_Vienna.jpg/220px-Walt_Disney_and_his_wife_departing_from_Kastrup_Airport_CPH%2C_Copenhagen_by_SAS_to_Vienna.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG', '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg', '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/Spanish_Wikiquote.SVG/12px-Spanish_Wikiquote.SVG.png', '//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/15px-Commons-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/20px-Wikidata-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/15px-Commons-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/15px-Wikiquote-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/20px-Wikidata-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/15px-Commons-logo.svg.png', '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/15px-Wikiquote-logo.svg.png', '//es.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1', '/static/images/footer/wikimedia-button.png', '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [22]:
# This is the url you will scrape in this exercise
url4 ='https://en.wikipedia.org/wiki/Python'

In [23]:
#your code
html4 = requests.get(url4)
soup4 = BeautifulSoup(html4.content,"html.parser")

In [24]:
tags4 = soup4.find_all('div', {'class': 'mw-parser-output'})

In [25]:
len(tags4[0].find_all('a'))

45

In [26]:
tags4[0].find("a")

In [27]:
links = []

for i in tags4[0].find_all('a'):
    links.append(i.get("href"))

In [28]:
links = links[11:]

In [29]:
linkadisimos =[]

for i in links:
    linkadisimos.append('https://en.wikipedia.org/'+i)

In [30]:
linkadisimos

['https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=1',
 'https://en.wikipedia.org//wiki/Python_(programming_language)',
 'https://en.wikipedia.org//wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org//wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=2',
 'https://en.wikipedia.org//wiki/Python_of_Aenus',
 'https://en.wikipedia.org//wiki/Python_(painter)',
 'https://en.wikipedia.org//wiki/Python_of_Byzantium',
 'https://en.wikipedia.org//wiki/Python_of_Catana',
 'https://en.wikipedia.org//wiki/Python_Anghelo',
 'https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=3',
 'https://en.wikipedia.org//wiki/Python_(Efteling)',
 'https://en.wikipedia.org//wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org//wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=4',
 'https://en.wikipedia.org//wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org//wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=5',
 'https://en.wikipedia.org//wiki/Python_(missile)',
 'https://en.wikipedia.org//wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org//wiki/Colt_Python',
 'https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=6',
 'https://en.wikipedia.org//wiki/PYTHON',
 'https://en.wikipedia.org//wiki/Python_(film)',
 'https://en.wikipedia.org//wiki/Python_(mythology)',
 'https://en.wikipedia.org//wiki/Monty_Python',
 'https://en.wikipedia.org//wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org//w/index.php?title=Python&action=edit&section=7',
 'https://en.wikipedia.org//wiki/Cython',
 'https://en.wikipedia.org//wiki/Pyton',
 'https://en.wikipedia.org//wiki/Pithon',
 'https://en.wikipedia.org//wiki/File:Disambig_gray.svg',
 'https://en.wikipedia.org//wiki/Help:Disambiguation',
 'https://en.wikipedia.org/https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0']

#### Number of Titles that have changed in the United States Code since its last release point

In [31]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [102]:
#your code
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
html = requests.get(url)
soup = BeautifulSoup(html.content,"html.parser")

titles = soup.findAll("div",{"class": "usctitle"})

lista_titulos = [title.getText().strip() for title in titles]

lista_titulos[2:]

['Title 1 - General Provisions ٭',
 'Title 2 - The Congress',
 'Title 3 - The President ٭',
 'Title 4 - Flag and Seal, Seat of Government, and the States ٭',
 'Title 5 - Government Organization and Employees ٭',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 9 - Arbitration ٭',
 'Title 10 - Armed Forces ٭',
 'Title 11 - Bankruptcy ٭',
 'Title 12 - Banks and Banking',
 'Title 13 - Census ٭',
 'Title 14 - Coast Guard ٭',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights ٭',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 27 - Intoxicating Liquors',
 'Title 28 - Judiciary and Judicial Procedure ٭',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance ٭',
 'Title 32 - National Guard ٭',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents ٭',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭',
 'Title 37 - Pay and Allowances of the Uniformed Services ٭',
 "Title 38 - Veterans' Benefits ٭",
 'Title 39 - Postal Service ٭',
 'Title 40 - Public Buildings, Property, and Works ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents ٭',
 'Title 45 - Railroads',
 'Title 46 - Shipping ٭',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation ٭',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs ٭',
 'Title 52 - Voting and Elections',
 'Title 53 [Reserved]',
 'Title 54 - National Park Service and Related Programs ٭']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [104]:
# This is the url you will scrape in this exercise
url6 = 'https://www.emsc-csem.org/Earthquake/'

In [105]:
#your code
html6 = requests.get(url6)
soup6 = BeautifulSoup(html6.content,"html.parser")
# tags6 = soup6.find_all('div', {'class': 'mw-parser-output'})

In [106]:
terremotero =  soup6.findAll('tr')

In [118]:
terremotero[14].findAll('td')[3].getText().split('\xa0\xa0\xa0')[1][0:8]

'17:13:22'

In [37]:
terremotero[14].findAll('td')[-2].getText().strip()

'MINAHASA, SULAWESI, INDONESIA'

In [41]:
terremotero[14].findAll('td')

[<td class="tabev0"></td>,
 <td class="tabev0"></td>,
 <td class="tabev0"></td>,
 <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=1060914">2021-11-11   16:22:13.0</a></b><i class="ago" id="ago0">30min ago</i></td>,
 <td class="tabev1">0.56 </td>,
 <td class="tabev2">N  </td>,
 <td class="tabev1">121.18 </td>,
 <td class="tabev2">E  </td>,
 <td class="tabev3">67</td>,
 <td class="tabev5" id="magtyp0"> M</td>,
 <td class="tabev2">3.0</td>,
 <td class="tb_region" id="reg0"> MINAHASA, SULAWESI, INDONESIA</td>,
 <td class="comment updatetimeno" id="upd0" style="text-align:right;">2021-11-11 16:30</td>]

In [72]:
terremotero[14].findAll('td')[-2].getText().strip('\xa0')

'MINAHASA, SULAWESI, INDONESIA'

In [53]:
terremotero[14].findAll('td')[3].getText().split('\xa0')[-1][0:8]

'16:22:13'

In [44]:
terres = []
lista = range(14,34)
for i in lista:
    terres.append(terremotero[i].findAll('td'))

In [62]:
terres[19][3].getText().split('\xa0')[0].lstrip('earthquake')

'2021-11-11'

In [73]:
shaky=[]
for i in terres:

    spot_dicc = {"Date" : i[3].getText().split('\xa0')[0].lstrip('earthquake'),
                "Time": i[3].getText().split('\xa0')[-1][0:8],
                "latitude": i[4].getText().strip('\xa0'),
                "longitud" :i[6].getText().strip('\xa0'),
                "Region" : i[-2].getText().strip('\xa0')
                }
    shaky.append(spot_dicc)
shaky

[{'Date': '2021-11-11',
  'Time': '16:22:13',
  'latitude': '0.56',
  'longitud': '121.18',
  'Region': 'MINAHASA, SULAWESI, INDONESIA'},
 {'Date': '2021-11-11',
  'Time': '16:16:54',
  'latitude': '38.87',
  'longitud': '31.08',
  'Region': 'WESTERN TURKEY'},
 {'Date': '2021-11-11',
  'Time': '15:59:14',
  'latitude': '38.73',
  'longitud': '27.81',
  'Region': 'WESTERN TURKEY'},
 {'Date': '2021-11-11',
  'Time': '15:59:06',
  'latitude': '21.77',
  'longitud': '68.68',
  'Region': 'ANTOFAGASTA, CHILE'},
 {'Date': '2021-11-11',
  'Time': '15:58:34',
  'latitude': '12.44',
  'longitud': '87.94',
  'Region': 'NEAR COAST OF NICARAGUA'},
 {'Date': '2021-11-11',
  'Time': '15:51:58',
  'latitude': '8.91',
  'longitud': '124.12',
  'Region': 'KEPULAUAN ALOR, INDONESIA'},
 {'Date': '2021-11-11',
  'Time': '15:41:14',
  'latitude': '1.65',
  'longitud': '127.30',
  'Region': 'KEPULAUAN OBI, INDONESIA'},
 {'Date': '2021-11-11',
  'Time': '15:34:57',
  'latitude': '28.55',
  'longitud': '17.84',
  'Region': 'CANARY ISLANDS, SPAIN REGION'},
 {'Date': '2021-11-11',
  'Time': '15:33:47',
  'latitude': '2.84',
  'longitud': '129.29',
  'Region': 'SERAM, INDONESIA'},
 {'Date': '2021-11-11',
  'Time': '15:23:49',
  'latitude': '0.44',
  'longitud': '124.19',
  'Region': 'MINAHASA, SULAWESI, INDONESIA'},
 {'Date': '2021-11-11',
  'Time': '15:11:40',
  'latitude': '23.51',
  'longitud': '66.84',
  'Region': 'JUJUY, ARGENTINA'},
 {'Date': '2021-11-11',
  'Time': '15:06:59',
  'latitude': '18.51',
  'longitud': '65.55',
  'Region': 'PUERTO RICO REGION'},
 {'Date': '2021-11-11',
  'Time': '15:05:05',
  'latitude': '38.84',
  'longitud': '122.75',
  'Region': 'NORTHERN CALIFORNIA'},
 {'Date': '2021-11-11',
  'Time': '14:57:17',
  'latitude': '28.56',
  'longitud': '17.87',
  'Region': 'CANARY ISLANDS, SPAIN REGION'},
 {'Date': '2021-11-11',
  'Time': '14:56:56',
  'latitude': '31.24',
  'longitud': '68.57',
  'Region': 'SAN JUAN, ARGENTINA'},
 {'Date': '2021-11-11',
  'Time': '14:56:04',
  'latitude': '18.57',
  'longitud': '66.09',
  'Region': 'PUERTO RICO REGION'},
 {'Date': '2021-11-11',
  'Time': '14:52:45',
  'latitude': '23.99',
  'longitud': '67.16',
  'Region': 'SALTA, ARGENTINA'},
 {'Date': '2021-11-11',
  'Time': '14:44:12',
  'latitude': '38.51',
  'longitud': '12.82',
  'Region': 'SICILY, ITALY'},
 {'Date': '2021-11-11',
  'Time': '14:29:28',
  'latitude': '37.39',
  'longitud': '35.05',
  'Region': 'CENTRAL TURKEY'},
 {'Date': '2021-11-11',
  'Time': '14:19:04',
  'latitude': '19.17',
  'longitud': '155.47',
  'Region': 'ISLAND OF HAWAII, HAWAII'}]

In [99]:
solusion = pd.DataFrame(shaky)
solusion

          Date      Time latitude longitud                         Region
0   2021-11-11  16:22:13     0.56   121.18  MINAHASA, SULAWESI, INDONESIA
1   2021-11-11  16:16:54    38.87    31.08                 WESTERN TURKEY
2   2021-11-11  15:59:14    38.73    27.81                 WESTERN TURKEY
3   2021-11-11  15:59:06    21.77    68.68             ANTOFAGASTA, CHILE
4   2021-11-11  15:58:34    12.44    87.94        NEAR COAST OF NICARAGUA
5   2021-11-11  15:51:58     8.91   124.12      KEPULAUAN ALOR, INDONESIA
6   2021-11-11  15:41:14     1.65   127.30       KEPULAUAN OBI, INDONESIA
7   2021-11-11  15:34:57    28.55    17.84   CANARY ISLANDS, SPAIN REGION
8   2021-11-11  15:33:47     2.84   129.29               SERAM, INDONESIA
9   2021-11-11  15:23:49     0.44   124.19  MINAHASA, SULAWESI, INDONESIA
10  2021-11-11  15:11:40    23.51    66.84               JUJUY, ARGENTINA
11  2021-11-11  15:06:59    18.51    65.55             PUERTO RICO REGION
12  2021-11-11  15:05:05    38.84   122.75            NORTHERN CALIFORNIA
13  2021-11-11  14:57:17    28.56    17.87   CANARY ISLANDS, SPAIN REGION
14  2021-11-11  14:56:56    31.24    68.57            SAN JUAN, ARGENTINA
15  2021-11-11  14:56:04    18.57    66.09             PUERTO RICO REGION
16  2021-11-11  14:52:45    23.99    67.16               SALTA, ARGENTINA
17  2021-11-11  14:44:12    38.51    12.82                  SICILY, ITALY
18  2021-11-11  14:29:28    37.39    35.05                 CENTRAL TURKEY
19  2021-11-11  14:19:04    19.17   155.47       ISLAND OF HAWAII, HAWAII

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'
url_hack = 'https://hackevents.co/search/anything/anywhere/anytime'

# Este nos han dicho que no hay que hacerlo

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [86]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# import urllib.request
from urllib.request import urlopen
# import random
import re
import lxml.html as lh
# import scrapy

In [87]:
# It's much better choosing this link, as the information available at the main page is drunk from this one  
url = 'https://es.wikipedia.org/wiki/Anexo:Wikipedias'

In [88]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [89]:
#Check the length of the first 5 rows
[len(T) for T in tr_elements[:5]]

[1, 12, 12, 12, 12]

In [90]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:""
2:"Idioma"
3:"Idioma (local)"
4:"Cód.[2]​
"
5:"P. de cont.[1]​"
6:"Páginas"
7:"Ediciones"
8:"Admins."
9:"Usuarios"
10:"U. activos[3]​"
11:"Ficheros"
12:"Prof.[4]​
"

In [91]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 12, the //tr data is not from our table 
    if len(T)!=12:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [92]:
[len(C) for (title,C) in col]

[327, 327, 327, 327, 327, 327, 327, 327, 327, 327, 327, 327]

In [93]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [94]:
df = df.drop(columns=['Páginas','','Idioma (local)', 'Cód.[2]​\n', 'Ediciones', 'Admins.','Usuarios','U. activos[3]​','Ficheros','Prof.[4]​\n'])

In [95]:
df = df.drop(df.index[0])

In [96]:
df = df.replace(r'\n',' ', regex=True)

In [97]:
df.head(10)

         Idioma P. de cont.[1]​
1       Inglés       6 407 118
2      Cebuano       6 058 684
3        Sueco       2 892 399
4       Alemán       2 631 161
5      Francés       2 373 235
6   Neerlandés       2 071 013
7         Ruso       1 769 272
8      Español       1 729 941
9     Italiano       1 725 440
10      Polaco       1 496 026

In [83]:
#your code

#### A list with the different kind of datasets available in data.gov.uk

In [75]:
#your code 
url = 'https://data.gov.uk/'

In [76]:
html = requests.get(url)
soup = BeautifulSoup(html.content,"html.parser")

In [77]:
tags = soup.find_all("a", {"class": "govuk-link"})

In [78]:
tags

[<a class="govuk-link" href="/cookies">cookies to collect information</a>,
 <a class="govuk-link" href="/cookies">View cookies</a>,
 <a class="govuk-link" data-module="gem-track-click" data-track-action="Cookie banner settings clicked from confirmation" data-track-category="cookieBanner" href="/cookies">change your cookie settings</a>,
 <a class="govuk-link" href="http://www.smartsurvey.co.uk/s/3SEXD/">feedback</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Business+and+economy">Business and economy</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Crime+and+justice">Crime and justice</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Defence">Defence</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Education">Education</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Environment">Environment</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Government">Government</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Government+spending">Government spending</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Health">Health</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Mapping">Mapping</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Society">Society</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Towns+and+cities">Towns and cities</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Transport">Transport</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Digital+service+performance">Digital service performance</a>,
 <a class="govuk-link" href="/search?filters%5Btopic%5D=Government+reference+data">Government reference data</a>]

In [79]:
list1 = []
for tag in tags:
    a = tag.getText()
    list1.append(a)

In [80]:
list1

['cookies to collect information',
 'View cookies',
 'change your cookie settings',
 'feedback',
 'Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

In [81]:
list2 = list1[5:]

In [82]:
list2

['Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
import lxml.html as lh

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
#your code
url='https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [ ]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

In [ ]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

In [ ]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=6:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [ ]:
[len(C) for (title,C) in col]

In [ ]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [ ]:
df = df.drop(columns=['Rank\n', 'Percentageof world pop.(March 2019)[8]\n', 'Language family\n', 'Branch\n'])

In [ ]:
df = df.drop(df.index[0])

In [ ]:
df.reset_index(inplace=True,drop=True)

In [ ]:
df1 = df.head(10)

In [ ]:
df1

### BONUS QUESTIONS

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [120]:
url = 'https://www.imdb.com/chart/top'

In [121]:
html = requests.get(url)
soup = BeautifulSoup(html.content,"html.parser")

In [122]:
tags_ = soup.find_all("td", {"class": "titleColumn"})

In [123]:
# tags_

In [124]:
lista_enlaces = [f"https://www.imdb.com/{elemento.find('a').get('href')}" for elemento in tags_]

In [125]:
#lista_enlaces

In [133]:
moviename = soup.findAll("td",{"class": "titleColumn"})
lista_moviename = [movie.getText().strip() for movie in moviename]
lista = []

i = 0
for movie in lista_moviename:
    a = lista_moviename[i].split("\n")[1].strip()
    i += 1
    lista.append(a)
    
df = pd.DataFrame(lista)

diccio_nuevas = {0: "Nombre_peliculas"}
df.rename(columns = diccio_nuevas, inplace=True)

fex = soup.find_all("span", {"class": "secondaryInfo"})

list_fecha = [fecha.getText().strip() for fecha in fex]
df1 = pd.DataFrame(list_fecha)

diccio_nuevas1 = {0: "Año_estreno"}
df1.rename(columns = diccio_nuevas1, inplace=True)

concatenado = pd.concat([df,df1], axis=1)

estrellas = soup.find_all("td", {"class": "ratingColumn imdbRating"})

lista1 = []

o = 0
for y in estrellas:
    a = estrellas[o].getText().strip()
    o += 1
    lista1.append(a)

df3 = pd.DataFrame(lista1)

concatenados = pd.concat([concatenado,df3], axis=1)

diccio_nuevas3 = {0: "Puntuación"}
concatenados.rename(columns = diccio_nuevas3, inplace=True)

concatenados

          Nombre_peliculas Año_estreno Puntuación
0          Cadena perpetua      (1994)        9.2
1               El padrino      (1972)        9.1
2     El padrino: Parte II      (1974)        9.0
3      El caballero oscuro      (2008)        9.0
4    12 hombres sin piedad      (1957)        8.9
..                     ...         ...        ...
245  La princesa prometida      (1987)        8.0
246  Las noches de Cabiria      (1957)        8.0
247           Paris, Texas      (1984)        8.0
248     Tres colores: Rojo      (1994)        8.0
249           Sardar Udham      (2021)        8.0

[250 rows x 3 columns]

In [127]:
diccionario = {'enlace':lista_enlaces}

In [128]:
data = pd.DataFrame(diccionario)

In [129]:
def funcionzaca_epica(enlace):
    html = requests.get(enlace)
    soup = BeautifulSoup(html.content,"html.parser")
    textaco = soup.findAll("a", {"class":"ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link"})
    return textaco[0].getText().strip()

In [130]:
data["director"] = data.enlace.apply(funcionzaca_epica)

In [134]:
dfinal = pd.concat([concatenados,data], axis=1)

In [135]:
dfinal

,Nombre_peliculas,Año_estreno,Puntuación,enlace,director
0,Cadena perpetua,(1994),9.2,https://www.imdb.com//title/tt0111161/,Frank Darabont
1,El padrino,(1972),9.1,https://www.imdb.com//title/tt0068646/,Francis Ford Coppola
2,El padrino: Parte II,(1974),9.0,https://www.imdb.com//title/tt0071562/,Francis Ford Coppola
3,El caballero oscuro,(2008),9.0,https://www.imdb.com//title/tt0468569/,Christopher Nolan
4,12 hombres sin piedad,(1957),8.9,https://www.imdb.com//title/tt0050083/,Sidney Lumet
...,...,...,...,...,...
245,La princesa prometida,(1987),8.0,https://www.imdb.com//title/tt0093779/,Rob Reiner
246,Las noches de Cabiria,(1957),8.0,https://www.imdb.com//title/tt0050783/,Federico Fellini
247,"Paris, Texas",(1984),8.0,https://www.imdb.com//title/tt0087884/,Wim Wenders
248,Tres colores: Rojo,(1994),8.0,https://www.imdb.com//title/tt0111495/,Krzysztof Kieslowski
249,Sardar Udham,(2021),8.0,https://www.imdb.com//title/tt10280296/,Shoojit Sircar

In [ ]:
#Otra forma de sacar los directores desde la misma pagina

In [177]:
directores = soup.findAll("td",{"class": "titleColumn"})

In [178]:
directores[0].find('a').get('title').split(' (dir')[0]

'Frank Darabont'

In [181]:
listadir= []
for i in directores:
    listadir.append(i.find('a').get('title').split(' (dir')[0])

In [184]:
data2 = pd.Series(listadir)

In [186]:
dfinal['directores2']=data2

In [187]:
dfinal

,Nombre_peliculas,Año_estreno,Puntuación,enlace,director,directores2
0,Cadena perpetua,(1994),9.2,https://www.imdb.com//title/tt0111161/,Frank Darabont,Frank Darabont
1,El padrino,(1972),9.1,https://www.imdb.com//title/tt0068646/,Francis Ford Coppola,Francis Ford Coppola
2,El padrino: Parte II,(1974),9.0,https://www.imdb.com//title/tt0071562/,Francis Ford Coppola,Francis Ford Coppola
3,El caballero oscuro,(2008),9.0,https://www.imdb.com//title/tt0468569/,Christopher Nolan,Christopher Nolan
4,12 hombres sin piedad,(1957),8.9,https://www.imdb.com//title/tt0050083/,Sidney Lumet,Sidney Lumet
...,...,...,...,...,...,...
245,La princesa prometida,(1987),8.0,https://www.imdb.com//title/tt0093779/,Rob Reiner,Rob Reiner
246,Las noches de Cabiria,(1957),8.0,https://www.imdb.com//title/tt0050783/,Federico Fellini,Federico Fellini
247,"Paris, Texas",(1984),8.0,https://www.imdb.com//title/tt0087884/,Wim Wenders,Wim Wenders
248,Tres colores: Rojo,(1994),8.0,https://www.imdb.com//title/tt0111495/,Krzysztof Kieslowski,Krzysztof Kieslowski
249,Sardar Udham,(2021),8.0,https://www.imdb.com//title/tt10280296/,Shoojit Sircar,Shoojit Sircar

'Frank Darabont ('